{% extends 'base.html' %}
{% block title %} Autor Aplikacji {% endblock %}
{% block content %}

    <ul>Martyna Mazur</ul>
    <ul>Studentka Uniwersytetu Ekonomicznego w Krakowie</ul>
    <ul>Informatyka Stosowana, 1 Stopień 1 Rok</ul>
    <p></p>
    <ul>Ten projekt strony powstał z pasji do tworzenia i rozwijania własnych umiejętności. Interesuję się nowoczesnymi
        technologiami, web developmentem i chętnie podejmuję się nowych wyzwań. Strona, którą właśnie przeglądasz, to
        efekt nauki, zaangażowania i zamiłowania do kodowania. </ul>

{% endblock %}