{% extends 'base.html' %}
{%block title %}Opis projektu{% endblock %}
{% block content %}

<ol>
    <li><h2>Cel aplikacji</h2> 
    <p>Celem działania aplikacji jest pobieranie opinii o produktach z serwisu Ceneo.pl. Dla
produktu, którego kod zostanie podany jako parametr należy pobrać jego nazwę oraz
wszystkie dostępne opinie o nim.</p></li>
    <li><h2>Opis działania aplikacji</h2></li>
    <li><h2>Zastosowane biblioteki</h2></li>
    <li><H2>Zastosowane podejścia</H2></li>
</ol>
{% endblock %}
    
