{% extends 'base.html' %}
{%block title %}Opis projektu{% endblock %}
{% block content %}

<ol>
    <li>
        <h2>Cel aplikacji</h2>
        <p>Celem działania aplikacji jest pobieranie opinii o produktach z serwisu Ceneo.pl. Dla
            produktu, którego kod zostanie podany jako parametr należy pobrać jego nazwę oraz
            wszystkie dostępne opinie o nim.</p>
    </li>
    <li>
        <h2>Opis działania aplikacji</h2>
    <p>Aplikacja służy do ekstrakcji, analizy oraz prezentacji opinii o produktach na podstawie danych pochodzących ze
        wskazanego źródła, serwisu Ceneo. Umożliwia użytkownikowi wprowadzenie identyfikatora produktu, pobranie
        opinii oraz ich przeglądanie.</p>
    <p>Po przejściu na stronę konkretnego produktu użytkownik ma dostęp do szczegółowej tabeli z opiniami. Użytkownik może sortować i filtrować dane według wybranych kolumn
        , pobierać tabelę w wybranym formacie (.csv, .xlsx, .json), oraz przejść do strony z wizualizacją danych (wykresami).</p>
    </li>
    <li>
        <h2>Zastosowane biblioteki</h2>
    </li>
    <li>
        <H2>Zastosowane podejścia</H2>
    </li>
</ol>
{% endblock %}