{% extends 'base.html' %}
{% block title %} Product List {% endblock %}
{% block content %}
   <ul class="list-group">
    {% for product in products %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a type="button" class="btn btn-ceneo" href="{{url_for('product', product_id=product.product_id, product_name=product.product_name)}}">{{product.product_name}}</a>
            <span>{{product.product_name}}</span>
            <span class="badge bg-primary rounded-pill">{{product.opinions_count}}</span>
            <span class="badge bg-success rounded-pill">{{product.pros_count}}</span>
            <span class="badge bg-danger rounded-pill">{{product.cons_count}}</span>
            <span class="badge bg-ceneo rounded-pill">{{product.average_stars}}</span>
            <a type="button" class="btn btn-info" href="{{url_for('static', filename='files/csv_files/'+product.product_id+'.csv')}}" download>CSV</a>
            <a type="button" class="btn btn-info" href="{{url_for('static', filename='files/xlsx_files/'+product.product_id+'.xlsx')}}" download>XLSX</a>
            <a type="button" class="btn btn-info" href="{{url_for('static', filename='files/json_files/'+product.product_id+'.json')}}" download>JSON</a> 
        </li>
        {% endfor %}
   </ul>
{% endblock %}